@model FruitShop.Models.Testimonial
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/Admin_LayOut.cshtml";
}

<h2>ShowFruit</h2>

<br />
<form method="post">
    @Html.Label("Testimonial ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Message")
    @Html.TextBoxFor(x => x.Message, new { @class = "form-control" })
    <br />
   

    <button class="btn btn-info">Save</button>
</form>